name: Website Load Test

on:
  schedule:
    - cron: "*/2 * * * *"  # runs every 2 minutes
  workflow_dispatch:

jobs:
  loadtest:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: pip install requests

      - name: Run load test
        run: |
          python - << 'EOF'
          import requests, time
          URL = "https://www.youtube.com/watch?v=q_qFydLjmv8&list=PLEzOcs9Uvqogl1CFAMLt2utB6nAgCv21N&pp=gAQB"

          while True:
              try:
                  r = requests.get(URL)
                  print(r.status_code, r.elapsed.total_seconds())
              except:
                  print("error")
              time.sleep(0.1)   # ~10 req/sec
          EOF
